<div style="text-align: center; font-family: Garamond;">
    <style>
        @import url('https://fonts.cdnfonts.com/css/cardenio-modern');
        @import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
        h1 {
            font-family: 'Cardenio Modern', sans-serif;
            font-size:1.5em;
            margin-bottom:0em;
            padding-left:5%;
            padding-right:5%;
        }
        h2 {
            font-family: 'Cardenio Modern', sans-serif;
            margin:0em;
            font-size:0.6em;
            font-weight:400;
            opacity: 0.8;
        }
        .layers {
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            position: absolute;
            z-index:-1;
        }
        .layers img {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
        .card {
            width: 41mm;
            height: 63mm;
            margin-bottom: 2mm;
        }
        .card-txt {
            font-family: 'Cardenio Modern', sans-serif;
            font-size:.8em;
            padding:8%;
            bottom: 12.5mm;
            position: absolute;
        }
        .card-txt img {
            margin-bottom: -6px;
            height: 20px;
        }
        .pokemon-portrait {
            width:80%;
            transform: translateX(-50%);
            height: auto;
            top: 7mm;
            position: absolute;
            image-rendering: pixelated; /* Ensures the image stays sharp */
            image-rendering: crisp-edges; /* Fallback for older browsers */
            image-rendering: -moz-crisp-edges; /* Firefox */
            image-rendering: -webkit-optimize-contrast;
            z-index: 5;
        }
        .points {
            font-family: "Silkscreen", sans-serif;
            font-weight: 400;
            position: absolute;
            right: 1mm;
            bottom: 1mm;
            margin: 0;
        }
        .height {
            position: absolute;
            right: 1mm;
            bottom: 50%;
            margin: 0;
            font-size: .7em;
            font-weight: 400;
            font-family: "Silkscreen", sans-serif;
            color: white;
            transform: rotate(-90deg);
        }
        .WHEN_ACTIVATED {
            background-color: rgba(0, 0, 0, 0.6);
            color:white;
            padding-top: .4em;
            padding-bottom: .4em;
        }
        .BETWEEN_TURNS {
            background-color: rgba(133, 62, 103, 0.6);
            color:white;
            padding-top: .4em;
            padding-bottom: .4em;
        }
        .POKÉMON_POWER {
            background-color: rgba(0, 98, 255, 0.6);
            padding-top: .4em;
            padding-bottom: .4em;
        }
    </style>
    <div class="layers">
        {{BACKGROUND}}
        {{{{ zone }}}}
        <img src="res/balls-{{balls}}.png">
        {{c_{{energy}}}}
    </div>
    <h1>{{ title }}</h1>
    <h2>#{{no}}</h2>
    <img src="res/{{no}}.png" class="pokemon-portrait">
    <div class="card-txt {{effector_class}}">{{ effector }} : {{ text }}</div>
    <p class="height">{{ height }}m</p>
    <p class="points">{{ points }}</p>
</div>